
#west
{
    background-color:Red;
    position:absolute;
    z-index:200
}

#north
{
    background-color:Blue;
}

#props-panel
{
    background-color:Gray;
}

#myTest
{
    position:absolute;
    left:50%;
    top:50%;
    z-index:100
}
